version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: skytracker-db
    environment:
      POSTGRES_USER: skytracker
      POSTGRES_PASSWORD: j7cVaIdGhd0DcPORaeg3RcOCjE0lk9ll
      POSTGRES_DB: skytracker_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U skytracker -d skytracker_db"]
      interval: 3s
      timeout: 3s
      retries: 10

  server:
    build:
      context: ./server
    container_name: skytracker-server
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=postgresql://skytracker:j7cVaIdGhd0DcPORaeg3RcOCjE0lk9ll@db:5432/skytracker_db?schema=public
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  client:
    build:
      context: ./client
    container_name: skytracker-client
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  postgres_data:
